.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
    max-width: 516px;
  }
  @media (min-width: $desktop-width) {
    min-width: 480px;
    max-width: 560px;
  }
}

.nav-list__item {
  width: $mobile-width;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.nav-list__link {
  display: block;
  padding: 22px 0 23px;

  font-family: $accent-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;
  }
}
